body{
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: burlywood;
}

body h1 {
  text-align: center;
}

#tela{
  display: flex;
  justify-content: center;
  align-items: center;
}